<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 
	命名空间:根据命名空间可以更准确的指定为某张表.
	Mapper接口(dao),包名+类名 ==命名空间的名字
-->
<mapper namespace="com.tedu.cloudnote.dao.ShareDAO">
	
	
	<!-- 
		根据cn_user_name查询
		parameterType属性:如果返回值为一个整数,标准用法java.lang.Integer ,可以简写成 int
		#{id1}:里面的参数随便写
	 -->
	 <insert id="insertShare" parameterType="com.tedu.cloudnote.entity.Share">
	 	insert into cn_share values(
	 	#{cn_share_id},  
		#{cn_share_title},
		#{cn_share_body}, 
		#{cn_note_id}   
	 	)
	 </insert>
	 
	  <!-- 根据笔记id查找笔记 -->
	 <select id="findByNoteId" parameterType="string" resultType="com.tedu.cloudnote.entity.Note">
	 	select * from cn_note where cn_note_id = #{noteId} 
	 </select>
	 
	 <select id="selectByTitle" parameterType="string" resultType="com.tedu.cloudnote.entity.Share">
	 	select *from cn_share where cn_share_title like #{title}
	 </select>
	 
	 <select id="findByShareId" parameterType="string" resultType="com.tedu.cloudnote.entity.Share">
	 	select *from cn_share where cn_share_id =#{shareId}
	 </select>
	 
	<select id="findByCollection" parameterType="string" resultType="com.tedu.cloudnote.entity.Note">
		select *from cn_note where cn_user_id =#{userId} and cn_note_status_id='3'
	</select>
	 
</mapper>